<div class="row">
    <div class="col s12">
        <h2>404 -  Page not Found</h2>
        <div class="divider"></div>
    </div>

</div>
<div class="center">
    <a class="btn center" href="/">Return to the home page</a>
</div>
