<h2>Add course</h2>

<form action="/course-add" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Title Course</label>
        <span class="helper-text" data-error="Enter title course"></span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required>
        <label for="price">Price course</label>
        <span class="helper-text" data-error="Enter price course"></span>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">URL image</label>
        <span class="helper-text" data-error="Enter image course"></span>
    </div>
    <button class="btn btn-primary">Add course</button>
</form>